# Workspace Dependencies
node_modules/
**/node_modules/

# Production / Bundler outputs
dist/
**/dist/
dist-ssr/
.output/
.vinxi/
.tanstack/
.nitro/

# Local Environment Secrets
.env
.env.*
!.env.example
**/.env
**/.env.*

# Logs and Debug files
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS / System Specific
.DS_Store
Thumbs.db

# IDEs and Text Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
